.box{
    height: 200px;
    width: 300px;
}

.responsive-box{
    width: 50%;
    height: 50%;
}

.padded-text{
    padding: 20px;
}

.custom-padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.border-box{
    border: solid 2px;
}

.rounded-border{
    border: dotted 3px;
    color: red;
    border-radius: 15px;
}
